IMS_BASE_URL=https://api.ims.gov.il/v1/envista
IMS_API_TOKEN=
IMS_REQUEST_TIMEOUT=10

FIRMS_BASE_URL=https://firms.modaps.eosdis.nasa.gov/api
FIRMS_MAP_KEY=
FIRMS_SOURCE=VIIRS_NOAA20_NRT
FIRMS_DAY_RANGE=1
FIRMS_REQUEST_TIMEOUT=10
FIRMS_WEST=34.0
FIRMS_SOUTH=29.4
FIRMS_EAST=35.9
FIRMS_NORTH=33.4

DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST/DATABASE?sslmode=require

COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=
COPERNICUS_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
COPERNICUS_STATISTICS_URL=https://sh.dataspace.copernicus.eu/statistics/v1
COPERNICUS_LAND_COVER_COLLECTION_ID=35fecfec-8a73-4723-bb08-b775f283a535
COPERNICUS_REQUEST_TIMEOUT=20
